.form {
  display: grid;
  grid-template-columns: 32px 1fr max-content;
  gap: 16px;
}

.textarea {
  grid-column: 1 / -1;
}

.button {
  grid-column: 3 / -1;
}

@media (width >= 768px) {
  .form {
    grid-template-columns: 32px 1fr max-content;
  }

  .textarea {
    grid-column: 2 / span 1;
  }
}
