@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/rubik-500.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/rubik-700.woff2") format("woff2");
}

:root {
  --moderate-blue: hsl(238, 40%, 52%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --soft-red: hsl(358, 79%, 66%);
  --pale-red: hsl(357, 100%, 86%);
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 32px 16px;
  font-family: "Rubik", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--grayish-blue);
  background-color: var(--very-light-gray);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: grid;
  gap: 16px;
  width: 100%;
  max-width: 730px;
  margin-inline: auto;
}

.item-container {
  padding: 16px;
  background-color: var(--white);
  border-radius: 8px;
}

.list {
  display: grid;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list--inner {
  padding-left: 16px;
  border-left: 2px solid var(--light-gray);
}

@media (width >= 768px) {
  body {
    padding: 64px 32px;
  }

  .container {
    gap: 20px;
  }

  .item-container {
    padding: 24px;
  }

  .list {
    gap: 20px;
  }

  .list--inner {
    margin-left: 43px;
    padding-left: 43px;
  }
}
